[Unit]

[Service]
WorkingDirectory=~
ExecStart=PATH_TO_BINARY
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
Alias=wallpaper-picker
WantedBy=default.target
