[Unit]
Description=Wallpaper Service

[Service]
WorkingDirectory=~
ExecStart=PATH_TO_BINARY
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=graphical-session.target
